<% if !@name %>
<form action="/named-cat" method="post">
  <div>
    <input type="text" name="name" autofocus></input>
  </div>
  <div>
    <input type="submit" name="Submit"></input>
  </div>
</form>
<% end %>
