<h1>My name is <%= @name %></h1>

<img src="http://bit.ly/1eze8aE" style="border: 3px dashed red">

<% if !@name %>
<form action="/named-cat">
  <div>
    <input type="text" name="name"></input>
  </div>
  <div>
    <input type="submit" name="Submit"></input>
  </div>
</form>
<% end %>
